<a href="https://colab.research.google.com/github/felipelabs/curso_python/blob/master/Aula_06_Tuplas_dicionarios_conjuntos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuplas, Dicionários, Conjuntos e Listas

### Listas
* Pode-se aumentar ou diminuir o tamanho.
* Pode-se modificar o valor de um elemento.
* È a mais popular entre os 4.
* Lista é inicializavel com [].

In [ ]:
lista = []
lista = [0,1,2]
lista = [i for i in range(11)]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Tuplas

* Tupla não permite alterações(imutável).
* Util para dados fixos.
* Mais rapido que uma lista.
* É inicalizada com ().

In [ ]:
tupla = ()
tupla = (1, 2, 3)

### Conjuntos
* Não é ordenado.
* Não aceitam valores duplicados.
* Possui operações dos conjuntos matematicos.
* Eles são inicializados com {}.
*

In [ ]:
conjunto = {'item'}
conjunto = {'a', 1, 2, 'b'}

### Dicionarios

* Possuem chaves e valor
* São mutaveis
* Não aceitam chaves duplicadas
* É inicalizada com {'chave':'valor'}

In [ ]:
dicionario = {'chave':'valor', 'chave2':'valor2'}

## Revisão Sobre Listas

In [ ]:
lista = []
print(lista)
print(type(lista))
print(type([]))

[]
<class 'list'>
<class 'list'>

In [ ]:
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista = []
for i in range(11):
  lista.append(i)
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista = [i for i in range(11)]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista[5] = 10
lista[6] = 15

print(lista)

[0, 1, 2, 3, 4, 10, 15, 7, 8, 9, 10]

In [ ]:
lista.remove(4)
print(lista)

[0, 1, 2, 3, 10, 15, 7, 8, 9, 10]

## Aula de tuplas

In [ ]:
tupla = ()
print(tupla)
print(type(tupla))
print(type(()))

()
<class 'tuple'>
<class 'tuple'>

In [ ]:
tupla = (1, 2, 3) # ela é inicializada e fica sempre assim com os mesmos valores.
print(tupla)

(1, 2, 3)

In [ ]:
print(tupla[0])
print(tupla[1])

1
2

In [ ]:
tupla.append(4) # tupla não permite adicionar elementos.

AttributeError: ignored

In [ ]:
tupla[0] = 2 # Tupla não permite alterar os elementos.
tupla[1] = 5

TypeError: ignored

In [ ]:
tupla.remove(1) # Tupla não permite remover um elemento.

AttributeError: ignored

**Conclusão:**Tuplas são imutaveis.

Para criarmos ou converter um objeto para uma tupla podemos usar a função **tuple()**.

In [ ]:
tupla = tuple(([i for i in range(11)]))
print(tupla)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
lista = [0, 1, 2]
tupla = tuple(lista)
print(lista)
print(tupla)
print(type(lista))
print(type(tupla))

[0, 1, 2]
(0, 1, 2)
<class 'list'>
<class 'tuple'>

Podemos transformar uma lista em tupla e vice-versa e podemos alterar os valores.

In [ ]:
tupla = (1, 2, 3, 4, 5)
lista = list(tupla)
lista.append(6)
lista[3] = 'teste'
lista.remove(5)
tupla = tuple(lista)
print(tupla)

(1, 2, 3, 'teste', 6)

**Operações gerais para estrutura de dados tuplas, Dicionários, Conjuntos e Listas.**

In [ ]:
tupla = (1, 2, 3, 4, 5)
print(tupla[0])
print(tupla[1:4])
print(tupla[-1])
print(len(tupla))
print(3 in tupla) # True
print(4 not in tupla) # False

for i in tupla:
  print(i)

1
(2, 3, 4)
5
5
True
False
1
2
3
4
5

## Aula de Conjuntos (Sets)
** Vem da teoria dos conjuntos matemáticos, tendo todas as operações que eles possuem.**

In [ ]:
conjunto = {'teste'}
print(conjunto)
print(type(conjunto))

{'teste'}
<class 'set'>

Conjunto não aceitam numeros duplicados.

In [ ]:
conjunto = {1, 1, 2, 3, 4, 5, 5}
print(conjunto)

{1, 2, 3, 4, 5}

In [ ]:
conjunto1 = {'a', 'b', 'c', 'd'}
conjunto2 = {'j', 'm', 'n', 'c' ,'d'}
print(conjunto1)# Não são ordendos
print(conjunto2) # Não são ordenados

{'c', 'd', 'b', 'a'}
{'c', 'j', 'n', 'm', 'd'}

In [ ]:
conjunto1.add('f') # add --> adição --> operações dos conjuntos matematicos
conjunto2.add('g')

In [ ]:
print(conjunto1)
print(conjunto2)

{'c', 'b', 'a', 'f', 'd'}
{'c', 'j', 'g', 'n', 'm', 'd'}

**Operações com um só conjunto por vez.**

**Add:** Adiciona um item por vez.

In [ ]:
frutas = {'uva','banana'}
frutas.add('laranja')
print(frutas)

{'laranja', 'banana', 'uva'}

**Update**: Adiciona varios itens de uma vez.

In [ ]:
frutas = {'uva','banana'}
frutas.update(['maça','morango','abacate','malancia','mexirica'])
print(frutas)

{'malancia', 'abacate', 'mexirica', 'banana', 'morango', 'maça', 'uva'}

**Remove**: Da erro se o valor não existir.
**Discart**: Não da erro se o valor não existir.

In [ ]:
frutas.remove('maça')
print(frutas)

{'malancia', 'abacate', 'mexirica', 'banana', 'morango', 'uva'}

In [ ]:
frutas.discard('maça')
print(frutas)

{'malancia', 'abacate', 'mexirica', 'banana', 'morango', 'uva'}

**Clear()**: Remove todos os itens.

In [ ]:
frutas.clear()
print(frutas)

set()

**Operações com mais de um conjunto por vez**

**Union**: Faz a soma de dois conjuntos.

**Update**: Tambem une os dois conjuntos, porem, modifica direto no propio conjunto que chama esse metodo.

In [ ]:
conjunto1 = {'a', 'b', 'c', 'd'}
conjunto2 = {'j', 'm', 'n', 'c' ,'d'}

conjunto_total = conjunto1.union(conjunto2) # union me retorna um valor (conjunto)
print(conjunto_total)

{'m', 'a', 'd', 'b', 'c', 'j', 'n'}

In [ ]:
conjunto1 = {'a', 'b', 'c', 'd'}
conjunto2 = {'j', 'm', 'n', 'c' ,'d'}

conjunto1.update(conjunto2) # update modifica o seu conjunto
print(conjunto1)

{'m', 'a', 'd', 'b', 'c', 'j', 'n'}

**Intersection**: Me mostra a interseção entre um e outro.
**Difference**: Me mostra a diferenaç entre um e o outro.

In [ ]:
conjunto1 = {'a', 'b', 'c', 'd'}
conjunto2 = {'j', 'm', 'n', 'c' ,'d'}

interseccao = conjunto1.intersection(conjunto2)
print(interseccao)

{'d', 'c'}

In [ ]:
conjunto1 = {'a', 'b', 'c', 'd'}
conjunto2 = {'j', 'm', 'n', 'c' ,'d'}

diferenca = conjunto1.difference(conjunto2)
diferenca2 = conjunto2.difference(conjunto1)
print(f'Diferença do conjunto 1  do conjunto 2 : {diferenca}')
print(f'Diferença do conjunto 2 para o conjunto 1 : {diferenca2}')

Diferença do conjunto 1  do conjunto 2 : {'b', 'a'}
Diferença do conjunto 2 para o conjunto 1 : {'j', 'm', 'n'}

**issubset**: Se o primeiro é um sub conjunto do segundo.

In [ ]:
conjuntinho = {1, 2, 3}
conjuntao = {1, 2, 3, 4}

subconjunto = conjuntinho.issubset(conjuntao)
print(subconjunto)

True

**Set()**: Converte para conjunto.

**Metodo construtor**: È o metodo que cria uma instancia (objeto) daquela classe.

In [ ]:
set() # construtor da classe conjunto.
tuple() # contrutor da classe tupla.
list() # construtor da classe lista

print()

In [ ]:
lista = [1, 2, 3, 4, 5]
tupla = ('a','b','c','d','e','f')

conjunto1 = set(lista)
conjunto2 = set(tupla)
print(conjunto1)
print(conjunto2)

{1, 2, 3, 4, 5}
{'a', 'd', 'b', 'c', 'f', 'e'}

## Aula de dicionarios
É uma estrutura de dados composta por chaves e valores.

In [ ]:
# Listas [] --> Mutavel, adiciona e remove valores.
# Tuplas () --> Imutavel, porem mais rapida.
# Conjuntos {} --> Conjuntos numericos, operações de conjuntos, não ordenados..

# Procura --> Resposta
# chave --> valor
# dog --> cachorro
# cat --> gato
# apple --> maçã
# while --> enquanto

# é composto por chave e valor.

In [ ]:
dict = {'dog':'cachorro', # Não aceita repetições na chave
        'cat':'gato',
        'bird':'ave'} # Sobrescreve o valor atual da chave
  
print(dict)
print(type(dict))
print(type({'dog':'cachorro'}))

{'dog': 'cachorro', 'cat': 'gato', 'bird': 'ave'}
<class 'dict'>
<class 'dict'>

**Dicionario['chave'] :**Procura pela chave e retorna o valor, da erro se não existir a chave.

**Dicionario.get('chave'):** Procura pela chave e retorna o valor. não da erro se não existir a chave.

In [ ]:
# Dicionario suporta varios items
# Chaves não podem ser repetidas
# È mutavel (alteravel)

In [ ]:
dict['dog'] # Dicionarios é acessivel por chaves e não por indices.

'cachorro'

In [ ]:
dict.get('dog') # não dá erro se não existir

'cachorro'

**Dicionario são mutaveis (Alteraveis)**

In [ ]:
dict = {'dog':'cachoro', # Não aceita repetições na chave
        'cat':'gato',
        'bird':'ave'} # Sobrescreve o valor atual da chave

print(dict)

{'dog': 'cachoro', 'cat': 'gato', 'bird': 'ave'}

In [ ]:
dict['dog'] = 'cachorro'

print(dict)

{'dog': 'cachorro', 'cat': 'gato', 'bird': 'ave'}

**Embora recomendavel não necessariamente uma chave deve ser uma string.**

In [ ]:
dict = {'string':1, 'string2': 2.5, 'string3':'string'}
print(dict)

{'string': 1, 'string2': 2.5, 'string3': 'string'}

In [ ]:
dict_num = {1:'um', 2:'dois', 3:'tres', 4:'quatro', 5:'cinco'}
print(dict_num)

{1: 'um', 2: 'dois', 3: 'tres', 4: 'quatro', 5: 'cinco'}

### Realizando loops nos dicionários

In [ ]:
dict = {'dog':'cachoro', 
        'cat':'gato',
        'bird':'ave'}

for chave in dict:
  print(chave)

print('-' *25)

for chave in dict:
  print(dict[chave])

dog
cat
bird
-------------------------
cachoro
gato
ave

In [ ]:
# Chaves --> keys()
# valores --> values()
# itens --> items()

print(dict.keys())
print(dict.values())
print(dict.items())

dict_keys(['dog', 'cat', 'bird'])
dict_values(['cachoro', 'gato', 'ave'])
dict_items([('dog', 'cachoro'), ('cat', 'gato'), ('bird', 'ave')])

In [ ]:
for valor in dict.values():
  print(valor)

cachoro
gato
ave

In [ ]:
for chave in dict.keys():
  print(chave)

dog
cat
bird

In [ ]:
for item in dict.items():
  print(item)
  print(type(item))

('dog', 'cachoro')
<class 'tuple'>
('cat', 'gato')
<class 'tuple'>
('bird', 'ave')
<class 'tuple'>

In [ ]:
for chave, valor in dict.items():
  print(f'A chave é {chave} e o valor é {valor}')
  print(f'E o tipo da chave é {type(chave)} e o tipo do valor é {type(valor)}')

A chave é dog e o valor é cachoro
E o tipo da chave é <class 'str'> e o tipo do valor é <class 'str'>
A chave é cat e o valor é gato
E o tipo da chave é <class 'str'> e o tipo do valor é <class 'str'>
A chave é bird e o valor é ave
E o tipo da chave é <class 'str'> e o tipo do valor é <class 'str'>

### Checando a existência

In [ ]:
print(dict)

if 'dog' in dict:
  print(f"\nO {dict['dog']} existe na lista.")
else:
  print("não existe")

{'dog': 'cachoro', 'cat': 'gato', 'bird': 'ave'}

O cachoro existe sim.

### Adicionando itens no dicinário

In [ ]:
dict['monkey'] = 'macaco'

if 'monkey' in dict:
  print(f"\nO {dict['monkey']} existe na lista.")
else:
  print("\nnão existe no dicionário.")

O macaco existe na lista.

In [ ]:
dict['banana'] = 'banana'
print(dict)

{'dog': 'cachoro', 'cat': 'gato', 'bird': 'ave', 'banana': 'banana'}

### Removendo um item
* **pop**: Remove apenas um item.
* **clear**: Remove todos os itens

In [ ]:
dict.pop('banana')
print(dict)

{'dog': 'cachoro', 'cat': 'gato', 'bird': 'ave', 'monkey': 'macaco'}

In [ ]:
dict

In [ ]:
if 'banana' in dict:
  dict.pop('banana')
print(dict)

{'dog': 'cachoro', 'cat': 'gato', 'bird': 'ave', 'monkey': 'macaco'}

In [ ]:
dict.clear()
print(dict)

{}

## Estrutura aninhada
Estrutura dentro da outra.

### Dicionário aninhado

In [ ]:
# Cada curso --> nome, categoria, instrutor, alunos
cursos = {
    'solid':{
        'nome': 'Aprenda design patterns com solid',
        'categoria': 'design patterns',
        'instrutor': 'felipe cabrera',
        'alunos': 5000
            },
    'android':{
        'nome' : 'android 9.0 : apis nativas e bancos de dados',
        'categoria': 'android',
        'instrutor': 'alisson bolsoni',
        'alunos' : 5000
               },
    'vscode' : {
        'nome': 'vscode: produtividade infinita',
        'categoria': 'programação',
        'intrutor':'felipe cabrera',
        'alunos': 5000
              }
}

In [ ]:
print(cursos)

{'solid': {'nome': 'Aprenda design patterns com solid', 'categoria': 'design patterns', 'instrutor': 'felipe cabrera', 'alunos': 5000}, 'android': {'nome': 'android 9.0 : apis nativas e bancos de dados', 'categoria': 'android', 'instrutor': 'alisson bolsoni', 'alunos': 5000}, 'vscode': {'nome': 'vscode: produtividade infinita', 'categoria': 'programação', 'intrutor': 'felipe cabrera', 'alunos': 5000}}

In [ ]:
for chave in cursos.keys():
  print(chave)

solid
android
vscode

In [ ]:
cursos['solid']

{'alunos': 5000,
 'categoria': 'design patterns',
 'instrutor': 'felipe cabrera',
 'nome': 'Aprenda design patterns com solid'}

### Lista aninhada

In [ ]:
lista = [[0, 1, 2], [1, 2, 3, 4, 5], ['abc', 'def', 'ghi']]
print(lista)
print(lista[2])
print(lista[2][1])

[[0, 1, 2], [1, 2, 3, 4, 5], ['abc', 'def', 'ghi']]
['abc', 'def', 'ghi']
def

### Tuplas Aninhadas

In [ ]:
tupla = ((0, 1, 2), (1, 2, 3, 4, 5, 6), ('abc','def', 'ghi'))
print(tupla)
print(tupla[1])
print(tupla[1][3])
print(tupla[1][3])

((0, 1, 2), (1, 2, 3, 4, 5, 6), ('abc', 'def', 'ghi'))
(1, 2, 3, 4, 5, 6)
4
4

### Conjunto aninhado
Conjuntos matemáticos não são aninhados, não há conjunto de outro e sim subconjuntos.

In [ ]:
conjunto = {1, 2, {3, 4}, 5} # não dá para se fazer, de fato, um conjunto aninhado, isos não está na teoria dos conjuntos.

TypeError: ignored

In [ ]:
conj = set()
conj.add(frozenset((1,2)))
conj.add(frozenset([3, 4]))
conj.add(frozenset((5, 6)))

In [ ]:
print(conj)

{frozenset({3, 4}), frozenset({5, 6}), frozenset({1, 2})}

In [ ]:
for i in conj:
  print(i)

frozenset({3, 4})
frozenset({5, 6})
frozenset({1, 2})

### Estrutura aninhada entre si

In [ ]:
super_estrutura = ([1, 2, 3], {'chave':'valor'}, (2, 3, 4), [[5, 6, 7], {'chave':(2, 3)}])
print(super_estrutura)

([1, 2, 3], {'chave': 'valor'}, (2, 3, 4), [[5, 6, 7], {'chave': (2, 3)}])